@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #0D011C;
  --color-secondary: #2E1946;
  --color-header: #f3e5ff;
  /* --color-text: #EAD8FF; */
  --color-text: #d4d4d4;
  --color-accent: #9D66F0;
  /* --font-display: "arial", */
  --font-headers: "Trebuchet MS", "sans-serif"
}

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.accent-color{
  color: #9D66F0;
}

body {
  background-color: #0D011C;
}

h2, a, h4{
  color: var(--color-header)
}

p, li {
  color: var(--color-text);
  /* line-height: 1.8rem; */
font-family: var(--font-headers);
}

h1, h2, h4 {
  
    font-family: 'Comic Sans MS', cursive;
}

.icon-color {
  color: #EEEEEE;
}

.primary-background {
  background-color: #1D1616;
}

.MuiTabs-vertical {
  align-items: self-start; 
}

.MuiTabs-indicator {
  background-color: var(--color-accent) !important;
}

.jss5 {
  background-color: var(--color-accent) !important;
}

.MuiButtonBase-root{
  color: var(--color-text) !important;
}

.MuiButtonBase-root:focus {
  color: var(--color-accent) !important;
}
